<div class="col-sm-4">
  <div class="post card">
    <a href="{{ .Permalink }}">
      {{ if .Params.image }}
        <div class="post-img d-flex justify-content-center align-items-center">
          <img src="{{ .Params.image }}" alt="{{ .Title }}" class="card-img-top img-fluid">
        </div>
      {{ end }}
      <div class="card-body">
        <h5 class="card-title">{{ .Title }}</h5>
        <p class="card-subtitle mb-2 text-muted">{{ .Date.Format "Jan 2, 2006" }}</p>
        <p class="card-text">{{ .Summary }}<p>
      </div>
    </a>
  </div>
</div>