<div class="col-sm-4">
  <div class="post card">
  {{ if .Params.image }}
    <div class="d-flex justify-content-center align-items-center" style="min-height: 200px;">
      <img src="{{ .Params.image }}" alt="{{ .Title }}" class="card-img-top img-fluid">
    </div>
  {{ end }}
  <div class="card-body">
    <h5 class="card-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h5>
    <p class="card-subtitle mb-2 text-muted">{{ .Date.Format "Jan 2, 2006" }}</p>
    <p class="card-text">{{ .Summary }}<p>
  </div>
  </div>
</div>